//paleta de colores:
$color-nav: white;
$color-fondo: #30305e;
$color-letras: aliceblue;

//responsive:
$desktop: 1200px;
$tablet: 768px;
$mobile: 500px;

//tipografia:
$letra-h1: 'Playfair Display', serif;